html {
    font-size: 16px;
}

body {
    color: #4C4C4C;
    font-size: .875rem;
    font-family: 'Roboto',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,
        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow-x: hidden;
}

.innerset {
    &.border-bottom {
        border-bottom: 1px solid #F1F1F1 !important;
    }
}