// --------------------------------------------------------------------------
// 	Color mixins
// --------------------------------------------------------------------------
@mixin text-colors {
    @each $name, $hex in $text-colors {
        &-#{$name}{
            color: $hex !important;
        }
    }
}
// --------------------------------------------------------------------------
