// --------------------------------------------------------------------------
// Custom transition mixins based on Bourbon 4
// --------------------------------------------------------------------------
@mixin transition( $properties... ){
	// ----------------------------------------------------------------------
	$default: all 0.15s ease-out 0s;
	$needs-prefixes: false; $webkit: (); $spec: ();
	// ----------------------------------------------------------------------
	// Create lists for vendor-prefixed transform
	// ----------------------------------------------------------------------
	@each $list in $properties {
		@if( nth( $list, 1 ) == "transform" ){
			// --------------------------------------------------------------
            $list1: (); $list2: (); $needs-prefixes: false;
            // --------------------------------------------------------------
			@if( index( $prefix-transform, webkit )){
				$needs-prefixes: true;
				$list1: -webkit-transform;
			}
			// --------------------------------------------------------------
			@each $var in $list {
				$list2: join( $list2, $var );
				@if( $var != "transform" ){
					$list1: join( $list1, $var );
				}
			}
			// --------------------------------------------------------------
			$webkit: append( $webkit, $list1 );
			$spec: append( $spec, $list2 );
			// --------------------------------------------------------------
		} @else {
			$webkit: append( $webkit, $list, comma );
			$spec: append( $spec, $list, comma );
		}
		// ------------------------------------------------------------------
	}
	// ----------------------------------------------------------------------
	@if( $needs-prefixes ){
		transition: $webkit;
		transition: $spec;
	}
	// ----------------------------------------------------------------------
	@else {
		@if( length( $properties ) >= 1 ){ transition: $properties }
		@else { transition: $default }
	}
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin transition-delay( $delay... ){
	@include prefixer( transition-delay, $delay, $prefix-transition );
}
// --------------------------------------------------------------------------
@mixin transition-property( $properties... ){
	@include prefixer( transition-property, $properties, $prefix-transition );
}
// --------------------------------------------------------------------------
@mixin transition-duration( $duration... ){
	@include prefixer( transition-duration, $duration, $prefix-transition );
}
// --------------------------------------------------------------------------
@mixin transition-timing-function( $easing... ){
	@include prefixer( transition-timing-function, $easing, $prefix-transition );
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin transition-transform( $transition ){
	@if( index( $prefix-transition, webkit )){
		transition: -webkit-transform $transition;
	}
	transition: transform $transition;
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin transition-easing( $easing ){
	@include transition-timing-function( $easing );
}
// --------------------------------------------------------------------------
