// --------------------------------------------------------------------------
// 	CSS3 Transforms
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
@mixin transform( $property: none ){
	// ----------------------------------------------------------------------
	// none | <transform-function>
	// ----------------------------------------------------------------------
	@include prefixer( transform, $property, $prefix-transform );
  	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------
@mixin transform-origin( $origin: 50% ){
	// ----------------------------------------------------------------------
  	// x-axis - left | center | right  | length | %
  	// y-axis - top  | center | bottom | length | %
  	// z-axis -                          length
	// ----------------------------------------------------------------------
  	@include prefixer( transform-origin, $origin, $prefix-transform );
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------
@mixin transform-style( $style: flat ){
	// ----------------------------------------------------------------------
	@include prefixer( transform-style, $style, $prefix-transform );
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------
@mixin perspective( $length ){
	// ----------------------------------------------------------------------
	@include prefixer( perspective, $length, $prefix-perspective );
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------
@mixin perspective-origin( $origin ){
	// ----------------------------------------------------------------------
	@include prefixer( perspective-origin, $origin, $prefix-perspective );
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// 2D Transformations
// --------------------------------------------------------------------------
@mixin skew( $x, $y ){
	// ----------------------------------------------------------------------
	@if( ends-with( $x, 'deg' )){ $x-axis: $x }
	@else { $x-axis: #{$x}deg }
	// ----------------------------------------------------------------------
	@if( ends-with( $y, 'deg' )){ $y-axis: $y }
	@else { $y-axis: #{$y}deg }
	// ----------------------------------------------------------------------
	@include transform( skew( $x-axis, $y-axis ));
	// ----------------------------------------------------------------------
}
// --------------------------------------------------------------------------
@mixin scale( $scale ){
	@include transform( scale( $scale ));
}
// --------------------------------------------------------------------------
@mixin rotate( $rotation ){
	@include transform( rotate( $rotation ));
}
// --------------------------------------------------------------------------
@mixin translate( $x, $y ){
	@include transform( translate( $x, $y ));
}
// --------------------------------------------------------------------------
@mixin matrix( $a, $b, $c, $d, $e, $f ){
	@include transform( matrix( $a, $b, $c, $d, $e, $f ));
}
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// 3D Transformations
// --------------------------------------------------------------------------
@mixin scaleX( $scale ){
	@include transform( scaleX( $scale ));
}
// --------------------------------------------------------------------------
@mixin scaleY( $scale ){
	@include transform( scaleY( $scale ));
}
// --------------------------------------------------------------------------
@mixin scaleZ( $scale ){
	@include transform( scaleZ( $scale ));
}
// --------------------------------------------------------------------------
@mixin scale3d( $x, $y, $z ){
	@include transform( scale3d( $x, $y, $z ));
}
// --------------------------------------------------------------------------
@mixin rotateX( $rotation ){
	@include transform( rotateX( $rotation ));
}
// --------------------------------------------------------------------------
@mixin rotateY( $rotation ){
	@include transform( rotateY( $rotation ));
}
// --------------------------------------------------------------------------
@mixin rotateZ( $rotation ){
	@include transform( rotateZ( $rotation ));
}
// --------------------------------------------------------------------------
@mixin rotate3d( $x, $y, $z ){
	@include transform( rotate3d( $x, $y, $z ));
}
// --------------------------------------------------------------------------
@mixin translateX( $translate ){
	@include transform( translateX( $translate ));
}
// --------------------------------------------------------------------------
@mixin translateY( $translate ){
	@include transform( translateY( $translate ));
}
// --------------------------------------------------------------------------
@mixin translateZ( $translate ){
	@include transform( translateZ( $translate ));
}
// --------------------------------------------------------------------------
@mixin translate3d( $x, $y, $z ){
	@include transform( translate3d( $x, $y, $z ));
}
// --------------------------------------------------------------------------
@mixin matrix3d( $a, $b, $c, $d, $e, $f, $g, $h, $i, $j, $k, $l, $m, $n, $o, $p ){
	@include transform( matrix3d( $a, $b, $c, $d, $e, $f, $g, $h, $i, $j, $k, $l, $m, $n, $o, $p ));
}
// --------------------------------------------------------------------------
