<template>
    <div>
        
        <!-- Hero content - Start -->
        <div class="hero">
            <div class="container">
                <div class="background">
                    <img class="hero-img" height="284" src="/frontend/assets/svg/illustration banner PHP hosting-01.svg" alt="PHP Hosting">
                </div>
                <div class="content">

                    <h1><strong>PHP Hosting</strong></h1>
                    <h2>Cepat, handal, penuh dengan modul PHP yang anda butuhkan</h2>

                    <ul class="list-group list-hero mt-3 ff-primary">
                        <li class="list-group-item">
                            <div class="row mx-n1">
                                <div class="px-1 col-auto text-green fs-20">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="px-1 col d-flex align-items-center">
                                    <div class="m-0">Solusi PHP untuk performa query yang lebih cepat.</div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row mx-n1">
                                <div class="px-1 col-auto text-green fs-20">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="px-1 col d-flex align-items-center">
                                    <div class="m-0">Konsumsi memori yang lebih rendah.</div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row mx-n1">
                                <div class="px-1 col-auto text-green fs-20">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="px-1 col d-flex align-items-center">
                                    <div class="m-0">Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row mx-n1">
                                <div class="px-1 col-auto text-green fs-20">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                                <div class="px-1 col d-flex align-items-center">
                                    <div class="m-0">Fitur enkripsi IonCube dan Zend Guard Loaders</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <!-- Hero content - End -->

        <!-- Content group - Start -->
        <div class="innerset border-bottom">
            <div class="container">

                <!-- Services - Start -->
                <section class="services py-3 py-sm-5">
                    <div class="row justify-content-center">
                        <div class="col-xl-9">
        
                            <div class="row mx-n2 text-center fs-16 ff-primary">

                                <div class="service px-2 col-sm-4">
                                    <div class="row flex-column h-100">
                                        <div class="col service-image">
                                            <embed class="img" src="/frontend/assets/svg/icon PHP Hosting_zendguard.svg" alt="PHP Zend Guard Loader">
                                        </div>
                                        <div class="col-auto service-title mt-3">
                                            <span>PHP Zend Guard Loader</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="service px-2 col-sm-4">
                                    <div class="row flex-column h-100">
                                        <div class="col service-image">
                                            <embed class="img" src="/frontend/assets/svg/icon PHP Hosting_composer.svg" alt="PHP Composer">
                                        </div>
                                        <div class="col-auto service-title mt-3">
                                            <span>PHP Composer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="service px-2 col-sm-4">
                                    <div class="row flex-column h-100">
                                        <div class="col service-image">
                                            <embed class="img" src="/frontend/assets/svg/icon PHP Hosting_ioncube.svg" alt="PHP ionCube Loader">
                                        </div>
                                        <div class="col-auto service-title mt-3">
                                            <span>PHP ionCube Loader</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- Services - End -->

                <!-- Intro - Start -->
                <section class="text-center py-2 py-md-4 py-lg-5">
                    <h2 class="m-0"><strong>Paket Hosting Singapura yang Tepat</strong></h2>
                    <h3>Diskon 40% + Domain dan SSL Gratis untuk Anda</h3>
                </section>
                <!-- Intro - End -->

                <!-- Plans - Start -->
                <section class="plans py-2 py-md-4 py-lg-5">
                    <div class="row mx-n2 mx-lg-0">
                        
                        <template v-for="plan in plans">
                            <hosting-plan :plan="plan"></hosting-plan>
                        </template>

                    </div>
                </section>
                <!-- Plans - End -->

                <!-- PHP configs - Start -->
                <section class="text-center py-4 py-lg-5">
                    <h2>Powerful dengan Limit PHP yang lebih Besar</h2>

                    <div class="row justify-content-center mt-4 mb-2">
                        <div class="col-xl-9">
                            <div class="row">
                                <div class="col-md-6">

                                    <ul class="list-group list-striped list-compact">
                                        <li class="list-group-item">
                                            <div class="row mx-n1">
                                                <div class="px-1 col-auto text-green fs-20">
                                                    <i class="fas fa-check-circle"></i>
                                                </div>
                                                <div class="px-1 col d-flex align-items-center justify-content-center">
                                                    <div class="m-0">max execution time 300s</div>
                                                </div>
                                            </div>
                                        </li>
                
                                        <li class="list-group-item">
                                            <div class="row mx-n1">
                                                <div class="px-1 col-auto text-green fs-20">
                                                    <i class="fas fa-check-circle"></i>
                                                </div>
                                                <div class="px-1 col d-flex align-items-center justify-content-center">
                                                    <div class="m-0">max execution time 300s</div>
                                                </div>
                                            </div>
                                        </li>
                
                                        <li class="list-group-item">
                                            <div class="row mx-n1">
                                                <div class="px-1 col-auto text-green fs-20">
                                                    <i class="fas fa-check-circle"></i>
                                                </div>
                                                <div class="px-1 col d-flex align-items-center justify-content-center">
                                                    <div class="m-0">php memory limit 1024 MB</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-md-6 mt-3 mt-md-0">

                                    <ul class="list-group list-striped list-compact">
                                        <li class="list-group-item">
                                            <div class="row mx-n1">
                                                <div class="px-1 col-auto text-green fs-20">
                                                    <i class="fas fa-check-circle"></i>
                                                </div>
                                                <div class="px-1 col d-flex align-items-center justify-content-center">
                                                    <div class="m-0">pst max size 128 MB</div>
                                                </div>
                                            </div>
                                        </li>
                
                                        <li class="list-group-item">
                                            <div class="row mx-n1">
                                                <div class="px-1 col-auto text-green fs-20">
                                                    <i class="fas fa-check-circle"></i>
                                                </div>
                                                <div class="px-1 col d-flex align-items-center justify-content-center">
                                                    <div class="m-0">upload max filesize 128 MB</div>
                                                </div>
                                            </div>
                                        </li>
                
                                        <li class="list-group-item">
                                            <div class="row mx-n1">
                                                <div class="px-1 col-auto text-green fs-20">
                                                    <i class="fas fa-check-circle"></i>
                                                </div>
                                                <div class="px-1 col d-flex align-items-center justify-content-center">
                                                    <div class="m-0">max input vars 2500</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- PHP configs - End -->

                <!-- Separator - Start -->
                <div class="container d-flex justify-content-center">
                    <div class="separator separator-lg" style="width: 5.625rem"></div>
                </div>
                <!-- Separator - End -->

                <!-- Services - Start -->
                <section class="services text-center py-4 pt-sm-5 pb-sm-0">
                    <h2>Semua Paket Hosting Sudah Termasuk</h2>
                    <div class="row mx-n3 text-center fs-16">

                        <div class="service px-3 col-md-6 col-lg-4">
                            <div class="px-xl-3 py-sm-4">
                                <div class="service-image">
                                    <img class="img" height="60" src="/frontend/assets/svg/icon PHP Hosting_PHP Semua Versi.svg" alt="PHP Semua Versi">
                                </div>
                                <div class="service-title mt-3">
                                    <h3 class="h4 ff-primary m-0"><strong>PHP Semua Versi</strong></h3>
                                    <p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
                                </div>
                            </div>
                        </div>

                        <div class="service px-3 col-md-6 col-lg-4">
                            <div class="px-xl-3 py-sm-4">
                                <div class="service-image">
                                    <img class="img" height="60" src="/frontend/assets/svg/icon PHP Hosting_My SQL.svg" alt="MySQL versi 5.6">
                                </div>
                                <div class="service-title mt-3">
                                    <h3 class="h4 ff-primary m-0"><strong>MySQL versi 5.6</strong></h3>
                                    <p>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
                                </div>
                            </div>
                        </div>

                        <div class="service px-3 col-md-6 col-lg-4">
                            <div class="px-xl-3 py-sm-4">
                                <div class="service-image">
                                    <img class="img" height="60" src="/frontend/assets/svg/icon PHP Hosting_CPanel.svg" alt="Panel Hosting CPanel">
                                </div>
                                <div class="service-title mt-3">
                                    <h3 class="h4 ff-primary m-0"><strong>Panel Hosting CPanel</strong></h3>
                                    <p>Kelola website dengan panel canggih yang familiar di hati Anda.</p>
                                </div>
                            </div>
                        </div>

                        <div class="service px-3 col-md-6 col-lg-4">
                            <div class="px-xl-3 py-sm-4">
                                <div class="service-image">
                                    <img class="img" height="60" src="/frontend/assets/svg/icon PHP Hosting_garansi uptime.svg" alt="Garansi uptime 99.9%">
                                </div>
                                <div class="service-title mt-3">
                                    <h3 class="h4 ff-primary m-0"><strong>Garansi Uptime 99.9%</strong></h3>
                                    <p>Data center yang mendukung kelangsungan website Anda 24/7.</p>
                                </div>
                            </div>
                        </div>

                        <div class="service px-3 col-md-6 col-lg-4">
                            <div class="px-xl-3 py-sm-4">
                                <div class="service-image">
                                    <img class="img" height="60" src="/frontend/assets/svg/icon PHP Hosting_InnoDB.svg" alt="Database InnoDB Unlimited">
                                </div>
                                <div class="service-title mt-3">
                                    <h3 class="h4 ff-primary m-0"><strong>Database InnoDB Unlimited</strong></h3>
                                    <p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</p>
                                </div>
                            </div>
                        </div>

                        <div class="service px-3 col-md-6 col-lg-4">
                            <div class="px-xl-3 py-sm-4">
                                <div class="service-image">
                                    <img class="img" height="60" src="/frontend/assets/svg/icon PHP Hosting_My SQL remote.svg" alt="Wildcard Remote MySQL">
                                </div>
                                <div class="service-title mt-3">
                                    <h3 class="h4 ff-primary m-0"><strong>Wildcard Remote MySQL</strong></h3>
                                    <p>Mendukung s/d 25 max_user_connections dan 100 max_connections</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- Services - End -->

                <!-- Separator - Start -->
                <div class="container d-flex justify-content-center">
                    <div class="separator separator-lg" style="width: 5.625rem"></div>
                </div>
                <!-- Separator - End -->

                <section class="py-4 pt-sm-5 pb-sm-0">
                    <h2 class="text-center mb-4">Mendukung Penuh Framework Laravel</h2>

                    <!-- Laravel support - Start -->
                    <div class="hero border-0">
                        <div class="background py-0">
                            <img class="hero-img" height="350" src="/frontend/assets/svg/illustration banner support laravel hosting.svg" alt="PHP Hosting">
                        </div>
                        <div class="content text-center text-md-left pb-5">
        
                            <p class="ff-primary fs-18">
                                Tak perlu menggunakan dedicated server ataupun VPS yang mahal.
                                Layanan PHP hosting murah kami mendukung penuh framework favorit Anda
                            </p>
        
                            <ul class="list-group list-hero mt-3 text-left">
                                <li class="list-group-item px-0">
                                    <div class="row mx-n1">
                                        <div class="px-1 col-auto text-green fs-18">
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-1 col d-flex align-items-center">
                                            <p class="m-0 fs-15">
                                                Install Laravel <strong>1 klik</strong> dengan Softaculous Installer.
                                            </p>
                                        </div>
                                    </div>
                                </li>
        
                                <li class="list-group-item px-0">
                                    <div class="row mx-n1">
                                        <div class="px-1 col-auto text-green fs-18">
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-1 col d-flex align-items-center">
                                            <p class="m-0 fs-15">
                                                Mendukung ekstensi <strong>PHP MCrypt, phar, mbstring, json,</strong> 
                                                dan <strong>fileinfo</strong>.
                                            </p>
                                        </div>
                                    </div>
                                </li>
        
                                <li class="list-group-item px-0">
                                    <div class="row mx-n1">
                                        <div class="px-1 col-auto text-green fs-18">
                                            <i class="fas fa-check-circle"></i>
                                        </div>
                                        <div class="px-1 col d-flex align-items-center">
                                            <p class="m-0 fs-15">
                                                Tersedia <strong>Composer</strong> dan <strong>SSH</strong>
                                                untuk menginstall packages pilihan Anda.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <p class="nb py-3 mb-2">Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</p>
                            
                            <a href="#" class="btn btn-action active fs-18">
                                <strong>Pilih Hosting Anda</strong>
                            </a>
                        </div>
                    </div>
                    <!-- Laravel support - Start -->

                </section>
            </div>
        </div>
        <!-- Content group - End -->

        <!-- Contet group - Start -->
        <div class="innerset">
            <div class="container">

                <!-- PHP module section - Start -->
                <section class="py-4 py-lg-5">

                    <h2 class="text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h2>
                    
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-10">
                            <div class="row fs-16 justify-content-between">

                                <div class="col-6 col-md-auto text-center text-md-left mt-3">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 px-1 py-0">IcePHP</li>
                                        <li class="list-group-item border-0 px-1 py-0">apc</li>
                                        <li class="list-group-item border-0 px-1 py-0">apcu</li>
                                        <li class="list-group-item border-0 px-1 py-0">apm</li>
                                        <li class="list-group-item border-0 px-1 py-0">ares</li>
                                        <li class="list-group-item border-0 px-1 py-0">bcmath</li>
                                        <li class="list-group-item border-0 px-1 py-0">bcompiler</li>
                                        <li class="list-group-item border-0 px-1 py-0">big_int</li>
                                        <li class="list-group-item border-0 px-1 py-0">bitset</li>
                                        <li class="list-group-item border-0 px-1 py-0">bloomy</li>
                                        <li class="list-group-item border-0 px-1 py-0">bz2_filter</li>
                                        <li class="list-group-item border-0 px-1 py-0">clamav</li>
                                        <li class="list-group-item border-0 px-1 py-0">coin_acceptor</li>
                                        <li class="list-group-item border-0 px-1 py-0">crack</li>
                                        <li class="list-group-item border-0 px-1 py-0">dba</li>
                                    </ul>
                                </div>

                                <div class="col-6 col-md-auto text-center text-md-left mt-3">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 px-1 py-0">http</li>
                                        <li class="list-group-item border-0 px-1 py-0">huffman</li>
                                        <li class="list-group-item border-0 px-1 py-0">idn</li>
                                        <li class="list-group-item border-0 px-1 py-0">igbinary</li>
                                        <li class="list-group-item border-0 px-1 py-0">imagick</li>
                                        <li class="list-group-item border-0 px-1 py-0">imap</li>
                                        <li class="list-group-item border-0 px-1 py-0">include</li>
                                        <li class="list-group-item border-0 px-1 py-0">inotify</li>
                                        <li class="list-group-item border-0 px-1 py-0">interbase</li>
                                        <li class="list-group-item border-0 px-1 py-0">intl</li>
                                        <li class="list-group-item border-0 px-1 py-0">ioncube_loader</li>
                                        <li class="list-group-item border-0 px-1 py-0">ioncube_loader_4</li>
                                        <li class="list-group-item border-0 px-1 py-0">jsmin</li>
                                        <li class="list-group-item border-0 px-1 py-0">json</li>
                                        <li class="list-group-item border-0 px-1 py-0">ldap</li>
                                    </ul>
                                </div>
                                
                                <div class="col-6 col-md-auto text-center text-md-left mt-3">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 px-1 py-0">nd_pdo_mysql</li>
                                        <li class="list-group-item border-0 px-1 py-0">oauth</li>
                                        <li class="list-group-item border-0 px-1 py-0">oci8</li>
                                        <li class="list-group-item border-0 px-1 py-0">odbc</li>
                                        <li class="list-group-item border-0 px-1 py-0">opcache</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdf</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdo</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdo_dblib</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdo_firebird</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdo_mysql</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdo_odbc</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdo_pgsql</li>
                                        <li class="list-group-item border-0 px-1 py-0">pdo_sqlite</li>
                                        <li class="list-group-item border-0 px-1 py-0">pgsql</li>
                                        <li class="list-group-item border-0 px-1 py-0">phalcon</li>
                                    </ul>
                                </div>

                                <div class="col-6 col-md-auto text-center text-md-left mt-3">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 px-1 py-0">stats</li>
                                        <li class="list-group-item border-0 px-1 py-0">stem</li>
                                        <li class="list-group-item border-0 px-1 py-0">stomp</li>
                                        <li class="list-group-item border-0 px-1 py-0">suhosin</li>
                                        <li class="list-group-item border-0 px-1 py-0">sybase_ct</li>
                                        <li class="list-group-item border-0 px-1 py-0">sysvmsg</li>
                                        <li class="list-group-item border-0 px-1 py-0">sysvsem</li>
                                        <li class="list-group-item border-0 px-1 py-0">sysvshm</li>
                                        <li class="list-group-item border-0 px-1 py-0">tidy</li>
                                        <li class="list-group-item border-0 px-1 py-0">timezonedb</li>
                                        <li class="list-group-item border-0 px-1 py-0">trader</li>
                                        <li class="list-group-item border-0 px-1 py-0">translit</li>
                                        <li class="list-group-item border-0 px-1 py-0">uploadprogress</li>
                                        <li class="list-group-item border-0 px-1 py-0">uri_template</li>
                                        <li class="list-group-item border-0 px-1 py-0">uuid</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-5">
                        <a href="#" class="btn btn-action fs-18">
                            <strong>Selengkapnya</strong>
                        </a>
                    </div>
                </section>
                <!-- PHP module section - End -->

                <!-- Linux technology - Start -->
                <section class="pt-4 pb-0 pt-lg-5 pb-lg-0">
                    <div class="hero border-0">
                        <div class="background align-items-end py-0">
                            <img class="hero-img" height="296" src="/frontend/assets/images/Image support.png" alt="PHP Hosting">
                        </div>
                        <div class="content text-center text-md-left pb-5">
        
                            <h2 class="mb-3 pr-md-5 ">Linux Hosting yang Stabil dengan Teknologi LVE</h2>

                            <p class="fs-16 pb-3">
                                SuperMicro <strong>Intel Xeon 24-Cores</strong> server dengan Ram 128 GB dan
                                teknologi <strong>LVE CloudLinux</strong> untuk stabilitas server Anda. Dilengkapi 
                                dengan <strong>SSD</strong> untuk kecepatan <strong>MySQL</strong> dan caching, Apache load balancer
                                berbasis LiteSpeed Technologies, <strong>CageFS</strong> security, <strong>Raid-10</strong> protection
                                dan auto backup untuk keamanan website Anda.
                            </p>
                            
                            <a href="#" class="btn btn-action active fs-18 mt-1">
                                <strong>Pilih Hosting Anda</strong>
                            </a>
                        </div>
                    </div>
                </section>
                <!-- Linux technology - End -->

            </div>
        </div>
        <!-- Contet group - End -->


        <!-- Social sharing - Start -->
        <section class="social py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 d-flex align-items-center justify-content-center">
                        <p class="m-0 fs-15 mb-2 mb-lg-0">
                            <strong>Bagikan jika anda menyukai halaman ini.</strong>
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="row mx-n1 justify-content-center">

                            <!-- Facebook share - Start -->
                            <div class="px-1 col-auto">
                                <a href="#" class="social-box">
                                    <div class="social-icon icon-container text-navy">
                                        <i class="icon fab fa-facebook-square"></i>
                                    </div>
                                    <div class="social-counter">80K</div>
                                </a>
                            </div>
                            <!-- Facebook share - End -->

                            <!-- Twitter share - Start -->
                            <div class="px-1 col-auto">
                                <a href="#" class="social-box">
                                    <div class="social-icon icon-container text-aqua">
                                        <i class="icon fab fa-twitter-square"></i>
                                    </div>
                                    <div class="social-counter">450</div>
                                </a>
                            </div>
                            <!-- Twitter share - End -->

                            <!-- Google Plus share - Start -->
                            <div class="px-1 col-auto">
                                <a href="#" class="social-box">
                                    <div class="social-icon icon-container text-red">
                                        <i class="icon fab fa-google-plus-square"></i>
                                    </div>
                                    <div class="social-counter">1900</div>
                                </a>
                            </div>
                            <!-- Google Plus share - End -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Social sharing - End -->


        <!-- Contact and chat bar - Start -->
        <section class="chatbar py-5">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-xl-auto d-flex align-items-center justify-content-center">
                        <h2 class="caption">Perlu <strong>BANTUAN?</strong> Hubungi Kami : <strong>0274-5305505</strong></h2>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <div class="pipe"></div>
                    </div>
                    <div class="col-12 col-xl-auto text-center mt-4 mt-xl-0">

                        <a href="#" class="btn btn-action btn-inverted active fs-18 py-2 px-5" data-animate-hover="pulse">
                            <div class="row mx-n2">
                                <div class="px-2 col-auto">
                                    <i class="fas fa-comment-alt"></i>
                                </div>
                                <div class="px-2 col">
                                    <span>Live Chat</span>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </section>
        <!-- Contact and chat bar - End -->

    </div>
</template>

<script>
    import hostingPlan from './../components/hostingPlan';

    export default {
        // ------------------------------------------------------------------
        name: 'home',
        components: { hostingPlan },
        // ------------------------------------------------------------------

        // ------------------------------------------------------------------
        data: function(){
            // --------------------------------------------------------------
            var data = {
                status: { loading: false },
                plans: []
            };
            // --------------------------------------------------------------
            return data;
            // --------------------------------------------------------------
        },
        // ------------------------------------------------------------------

        // ------------------------------------------------------------------
        created: function(){ this.getPlans()},
        // ------------------------------------------------------------------

        // ------------------------------------------------------------------
        watch: {
            '$route': 'getPlans' // Refresh the data each time
        },
        // ------------------------------------------------------------------

        // ------------------------------------------------------------------
        methods: {
            // --------------------------------------------------------------
            // Get plan data from the API
            // --------------------------------------------------------------
            getPlans: function(){
                // ----------------------------------------------------------
                var vm = this;
                this.status.loading = true;
                // ----------------------------------------------------------
                var request = axios.get( '/api/plans' );
                request.then( function( response ){
                    // ------------------------------------------------------
                    var status = io.get( response, 'status' );
                    var plans = io.get( response, 'data' );
                    // ------------------------------------------------------
                    if( 200 == status && plans ) vm.plans = plans;
                    // ------------------------------------------------------
                });
                // ----------------------------------------------------------
            }
            // --------------------------------------------------------------
        }
    }
</script>