<template>
    <div class="plan col-md-6 col-lg-3" :class="{ 'plan-featured': featured }">
        <div class="position-relative">

            <!-- Plan ribbon - Start -->
            <div v-if="featured" class="ribbon ribbon-top-left">
                <div class="ribbon-shadow"></div>
                <div class="ribbon-label">
                    <span v-if="entry.featured">Featured</span>
                    <span v-else-if="entry.best_seller">Best Seller!</span>
                </div>
            </div>
            <!-- Plan ribbon - End -->

            <div class="plan-innerset">
                <div class="plan-header">
                    <div class="plan-row py-1 px-2">
                        <div class="h4 m-0"><strong>{{ entry.title }}</strong></div>
                    </div>
                    <div class="plan-row p-2 ff-primary">
                        <div class="price-before"><s>Rp {{ entry.price }}</s></div>
                        <div v-if="fraction" class="price-now row mt-2 mb-1">
                            
                            <div class="partial col-auto">
                                <span>Rp</span>
                            </div>

                            <div v-if="fraction.primary" class="partial col-auto">
                                <div class="primary">{{ fraction.primary }}</div>
                            </div>

                            <div v-if="fraction.secondary" class="partial col-auto">
                                <strong>.{{ fraction.secondary }}</strong>
                            </div>

                            <div class="partial col-auto">/</div>
                            <div class="partial col-auto">
                                <span>bln</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="entry.users" class="plan-subheader plan-row p-2">
                    <strong>{{ entry.users }}</strong>
                    <span>Pengguna Tedaftar</span>
                </div>

                <div class="plan-body plan-row py-4 px-2">

                    <ul class="list-group list-plan">
                        <li v-for="desc in entry.descriptions" :key="desc.id" class="list-group-item" :class="{ stars: 'stars' == desc.type }">

                            <!-- Regular text type description - Start -->
                            <template v-if="'text' == desc.type">
                                <strong v-if="desc.content">{{ desc.content }}</strong>
                                <span v-if="desc.alt">{{ desc.alt }}</span>
                            </template>
                            <!-- Regular text type description - End -->

                            <!-- Star rating type - Start -->
                            <template v-else-if="'stars' == desc.type">
                                <i v-for="star in desc.content" :key="star" class="fas fa-star">&nbsp;</i>
                            </template>
                            <!-- Star rating type - End --> 

                            <!-- Vue page type - Start -->
                            <template v-else-if="'page' == desc.type && desc.url">
                                <router-link :to="{ name: 'page', params: { page: desc.url }}">
                                    <strong v-if="desc.content">{{ desc.content }}</strong>
                                    <span v-if="desc.alt">{{ desc.alt }}</span>
                                </router-link>
                            </template>
                            <!-- Vue page type - End -->

                            <!-- External URL type - Start -->
                            <template v-else-if="'url' == desc.type && desc.url">
                                <a :href="desc.url" target="_blank">
                                    <strong v-if="desc.content">{{ desc.content }}</strong>
                                    <span v-if="desc.alt">{{ desc.alt }}</span>
                                </a>
                            </template>
                            <!-- External URL type - End -->
                        </li>
                    </ul>

                    <router-link v-if="entry.url" :to="{ name: 'plan', params: { url: entry.url }}" 
                        class="btn btn-action mt-5" :class="{ active: featured }">

                        <strong v-if="entry.label">{{ entry.label }}</strong>
                        <strong v-else>Pilih Sekarang</strong>

                    </router-link>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        // ------------------------------------------------------------------
        name: 'hostingPlan',
        props: [ 'plan' ],
        // ------------------------------------------------------------------
        data: function(){ return {
            entry: this.plan
        }},
        // ------------------------------------------------------------------
        // mounted: function(){ console.log( this.entry )},
        // ------------------------------------------------------------------
        computed: {
            // --------------------------------------------------------------
            featured: function(){
                var entry = this.entry;
                return entry.featured || entry.best_seller;
            },
            // --------------------------------------------------------------
            fraction: function(){
                var fraction = io.get( this, 'entry.price_fraction' );
                return fraction;
            }
            // --------------------------------------------------------------
        }
        // ------------------------------------------------------------------
    }
</script>