<template>
    <div>

        <div class="innerset border-bottom">
            <div class="container">

                <!-- Intro - Start -->
                <section class="text-center py-2 py-md-4 py-lg-5">
                    <h2 class="m-0"><strong>Hosting Plan</strong></h2>
                    <h3>{{ $route.params.url }}</h3>
                </section>
                <!-- Intro - End -->

            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'plan'
    }
</script>