
.header {
    top: 0; z-index: 990;
    background-color: #fff;

    @include box-shadow( none );
    @include transition( box-shadow .2s );

    &.sticks {
        @include box-shadow( 0 .3125rem .9375rem 0 rgba( 0,143,238, 0.08 ));
    }
}

.nav-primary {
    border-bottom: 1px solid #F1F1F1;

    .logo {
        display: block;
        padding: .5rem 0;
        .logo-img { height: 2.25rem }

        @include breakpoint-up( sm ){
            .logo-img { height: 3rem }
        }

        @include breakpoint-up( xl ){
            padding: 1rem 0;
            .logo-img { height: 3.75rem }
        }
    }
    
    .nav-main {
        z-index: 9900;
        font-size: 1rem;
        position: fixed;
        max-width: 20rem;
        width: 100%; height: 100%;
        top: 0; left: 0; bottom: 0;
        background-color: #fff;
        overflow-y: auto;

        @include translateX( -120% );
        @include box-shadow( 0 1.25rem 2.5rem rgba( 0,143,238, 0.1 ));
        @include transition( transform .5s $easeOutExpo );

        & > .nav {
            @include flex-direction( column );
        }

        .nav-item {
            width: 100%;

            @each $name, $hex in $text-colors {
                &.nav-#{$name}{
                    & > .nav-link {
                        &:before {
                            background-color: $hex;
                        }
                        .icon-container {
                            color: $hex;
                        }
                    }
                }
            }
        }

        .nav-link {
            padding: .5rem 2rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0;
                width: .125rem;
                @include scaleY(0);
                @include transform-origin( 50% );
                @include transition( transform .5s $easeOutExpo );
            }

            &:hover:before {
                @include scaleY(1);
            }

            .icon-container {
                border-radius: 50%;
                background-color: #F5F7FA;
            }
        }

        @include breakpoint-up( xl ){
            position: static;
            max-width: none;
            background-color: transparent;

            @include translateX(0);
            @include box-shadow( none );
            @include transition( none );

            & > .nav {
                height: 100%;
                @include flex-direction( row );
                @include justify-content( flex-end );
            }

            .nav-item {
                width: auto;
            }

            .nav-link {
                height: 100%;
                padding: .5rem .9375rem;
                position: static;

                @include flexbox;
                @include align-items( center );
    
                &:before { display: none }
            }
        }
    }

    &.sidebar-onscreen {
        .nav-main {
            @include translateX(0);
        }
    }
}

