
.nav-secondary {

    .nav-support {
        z-index: 990;
        display: none;
        border-radius: .25rem;
        background-color: #fff;
        right: 4rem; top: 4.6875rem;
        position: fixed; width: 11.25rem;

        @include animation( pasteIn .5s $easeOutExpo );
        @include box-shadow( 0 1rem 3rem -0.5rem rgba( 0,143,238, 0.15 ));
    
        .nav {
            padding: .5rem 0;
        }
    
        .nav-link {
            width: 100%;
            padding: .675rem 1rem;
        }
    
        @include breakpoint-up( xl ){
            display: block;
            position: static;
            width: auto; height: 2.8125rem;
            @include box-shadow( none );
    
            .nav { padding: 0; height: 100% }
    
            .nav-link {
                width: auto;
                padding: .5rem .625rem;
            }
        }
    }

    &.support-onscreen {
        .nav-support {
            display: block;
        }
    }

    @include breakpoint-up( xl ){
        border-bottom: 1px solid #F1F1F1;
    }
}
