.hero {
    position: relative;
    border-bottom: 1px solid #F1F1F1;

    & > .container { 
        padding: 2.25rem .9375rem;
        position: relative;
    }

    .background {
        padding: 2.25rem 0;
        @include flexbox;
        @include justify-content( flex-end );

        .hero-img {
            // height: 100%;
            opacity: .05;
        }

        @include breakpoint-up( md ){
            .hero-img { opacity: .1 }
        }

        @include breakpoint-up( lg ){
            .hero-img { opacity: .4 }
        }

        @include breakpoint-up( xl ){
            .hero-img { opacity: 1 }
        }
    }

    .content {
        max-width: 32.5rem;
        position: relative;
        z-index: 100;
    }

    .list-hero {
        font-size: 1rem;

        .list-group-item {
            border: 0;
            padding: .25rem .25rem;
            background-color: transparent;
        }
    }
}