
.promotion {
    .icon-container {
        position: relative;
        width: 1.875rem; height: 2rem;
        padding-bottom: .5rem;
        overflow: hidden;

        .background {
            color: #0090EF;
            font-size: 2.5rem;
            position: absolute;
            left: 0; right: 0; 
            top: -.5rem; bottom: 0;
        }

        .icon {
            z-index: 10;
            color: #fff;
            font-size: 12px;
            position: relative;
        }
    }

    .promotion-text {
        @include flexbox;
        @include align-items( center );
        
        a {
            font-size: .75rem;
        }
    }
}