
.icon-container {
    width: 1.5rem; 
    height: 1.5rem;
    display: table;

    & > * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    &.inverted {
        color: #fff;
        background-color: #4C4C4C;
    }

    &.icon-container-lg {
        width: 2.5rem;
        height: 2.5rem;
    }
}