.ribbon {

    width: 6.875rem;
    height: 6.875rem;
    overflow: hidden;
    position: absolute;

    &:before, &:after {
        z-index: -1;
        content: '';
        position: absolute;
        display: block;
        border: .3125rem solid #008940;
    }

    .ribbon-shadow {
        width: 10rem;
        display: block;
        height: 2.625rem;
        position: absolute;

        &:before, &:after {
            z-index: -1;
            content: '';
            position: absolute;
            top: 1rem;
            width: 50%;
            height: 1.25rem;
            box-shadow: .0 .375rem .375rem rgba(0,0,0, 0.6);
        }

        &:before { left: 0; @include rotate( -4deg )}
        &:after { right: 0; @include rotate( 4deg )}
    }

    .ribbon-label {
        width: 10rem;
        color: #fff;
        display: block;
        padding: .625rem 0;
        position: absolute;
        font-weight: 700;
        background-color: #00B359;
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
        text-transform: uppercase;
        text-align: center;

        
    }

    &.ribbon-top-left {
        top: -.625rem; left: -.625rem;

        &:before, &:after {
            border-top-color: transparent;
            border-left-color: transparent;
        }

        &:before { top: 0; right: 0 }
        &:after { bottom: 0; left: 0 }

        .ribbon-label, .ribbon-shadow {
            right: -.6875rem; top: 1.25rem;
            @include rotate( -45deg );
        }
    }
}