.fs-8 { font-size: .5rem !important }
.fs-9 { font-size: .5625rem !important }
.fs-10 { font-size: .625rem !important }
.fs-11 { font-size: .6875rem !important }
.fs-12 { font-size: .75rem !important }
.fs-13 { font-size: .8125rem !important }
.fs-14 { font-size: .875rem !important }
.fs-15 { font-size: .9375rem !important }
.fs-16 { font-size: 1rem !important }
.fs-17 { font-size: 1.0625rem !important }
.fs-18 { font-size: 1.125rem !important }
.fs-20 { font-size: 1.25rem !important }
.fs-22 { font-size: 1.375rem !important }
.fs-24 { font-size: 1.5rem !important }
.fs-26 { font-size: 1.625rem !important }
.fs-28 { font-size: 1.75rem !important }
.fs-30 { font-size: 1.875rem !important }
.fs-32 { font-size: 2rem !important }
.fs-34 { font-size: 2.125rem !important }
.fs-36 { font-size: 2.25rem !important }
.fs-40 { font-size: 2.5rem !important }

.fw-l { font-weight: 300 !important }
.fw-n { font-weight: 400 !important }
.fw-b { font-weight: 700 !important }

.ff-body { font-family: $font-body }
.ff-primary { font-family: $font-primary }

$anchor-color: #4C4C4C;
$anchor-color-hover: #00ACE4;

a {
    color: $anchor-color;
    &:hover {
        text-decoration: none;
        color: $anchor-color-hover;
        @include transition( .5s $easeOutExpo );
    }
}

// Generate text-{color} classes
.text { @include text-colors }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.4;
    font-family: $font-primary;
}

h1, .h1 { font-size: 2.125rem }
h2, .h2 { font-size: 1.825rem }
h3, .h3 { font-size: 1.5rem }
h4, .h4 { font-size: 1.25rem }
h5, .h5 { font-size: 1.125rem; line-height: 1.6; }
h6, .h6 { font-size: .9375rem }

.uc, .uppercase { text-transform: uppercase }
.lc, .lowercase { text-transform: lowercase }
.nb { font-size: .75rem }